header {
    margin: 1%;
}

.header_title_text {
    padding: 2%;
    background-color: whitesmoke;
    font-size: 200%;
    color: brown;
}

.link_form_middle_section {
    clear: both;
    width: 50%;
    height: auto;
    position: relative;
    top: 45%;
    left: 3%;
}

div > input {
    width: 90%;
}

.link_form_middle_section_layer {
    margin: 5% 3% 10% 3%;
}

.link_form_button {
    overflow: inherit;
    margin: 10px;
    cursor: pointer;
    height: 2.5em;
    width: 25%;
    color: white;
    box-sizing: border-box;
    font-size: 1em;
    background-color: #87CEEB;
    border: 1px solid #87CEEB;
}

#link_form_button_main {
    margin: 10px 10px 0 8px;
    float: left;
    padding: 1.5%;
    height: 2.5em;
    width: 25%;
    color: black;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid gray;
    text-align: center
}

#link_form_button_main_font {
    font-size: 1em;
}